/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* THEME */
.light {
  background-color: #f4f6f8;
  color: #222;
}

.dark {
  background-color: #121212;
  color: #fff;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header button {
  padding: 8px 14px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* SEARCH & FILTER */
.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.controls input,
.controls select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 200px;
}

/* PRODUCT GRID */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

/* PRODUCT CARD */
.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.dark .card {
  background: #1e1e1e;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card h4 {
  height: 40px;
  overflow: hidden;
}


.card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.card button {
  padding: 8px;
  width: 100%;
  border: none;
  background: #16a34a;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* CART BADGE */
.cart {
  font-weight: bold;
}


